
	<% if @plate.state == nil %>

	<!-- Display alternate messaging for missing plate information -->

	<div class="section" id="page">
		<div class="plate-details center">
				<h2>Sorry! Couldn't Find that plate number.<br/><br/><br/></h2>
			</div>	
		</div>
<div class="breaker"><h4>CALL THE TOW FACILITY:</h4></div>
		<ul id="maps">
			<li class="doty">
				<div class="center">
				<h4>10300 S. Doty</h4>
				<a href="tel:773-568-8495">Call the Facility: 773-568-8495</a>
			</div>
					</li>	
			<li class="sacramento">
				<div class="center">
				<h4>701 N Sacramento</h4>
				<a href="tel:773-265-7605">Call the Facility: 773-265-7605</a>
			</div>
					</li>	
			<li class="wacker">
				<div class="center">
				<h4>400 E. Wacker</h4>
				<a href="tel:773-744-7550">Call the Facility: 773-744-7550</a>
			</div>
			</li>	

		</ul>
	</div>

	<% else %>


	<!-- Display plate information -->
	<div class="section" id="page">
		<div class="plate-details center">
			<h4 class="first make_details">
				<span class="state"><%= @plate.state %> Plate /</span>	
			 	<%= @color.capitalize %> <a href="/lookup/make/<%= @plate.make %>"><%= @make %></a>
			</h4>
			<h4 class="tow_date">Towed on <%= @date %></h4>
			<h4 class="tow_location"> <%= @address %> <a href="tel:<%= @plate.tow_facility_phone %>" class="call">CALL</a> </h4>
		</div>
		<ul id="maps">
			<% @sac = "701 N. Sacramento" %>
			<% @doty = "10300 S. Doty" %>
			<% @wacker = "400 E. Lower Wacker" %>
			
			
			
			<% if @address.include? @wacker %>
			<li class="wacker">
				<div class="center">
				<h6><a href="tel:773-744-7550">Get Directions</a></h6>
				</div>
				<div class="overlay blue"></div>
			</li>	
			<% end %>
			<% if @address.include? @sac %>
			<li class="sacramento">
				<div class="center">
				<h6><a href="tel:773-744-7550">Get Directions</a></h6>
			</div>
	<div class="overlay blue"></div>
			</li>	
			<% end %>
			<% if @address.include? @doty %>
			<li class="doty">
				<div class="center">
				<h6><a href="tel:773-744-7550">Get Directions</a></h6>
			</div>
				<div class="overlay blue"></div>
			</li>	
			<% end %>

		</ul>
	</div>	

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>

	<script>

	    function initialize()
	    {
	        var lat=<%= @lat %>;
	        var lon= <%= @long %>;
	        var mapOptions =
	        {
	            zoom: 7,
	            center: new google.maps.LatLng(lat, lon),
	            mapTypeId: google.maps.MapTypeId.SATELLITE,
	            zoom: 30, scrollwheel: false, navigationControl: false, mapTypeControl: false, scaleControl: false, draggable: false
	        };

	        var map = new google.maps.Map(document.getElementById('map-canvas'),
	            mapOptions);

	        var marker = new google.maps.Marker({
	            map: map,
	            draggable: false,
	            position: new google.maps.LatLng(lat, lon)
	        });


	    }

	    google.maps.event.addDomListener(window, 'resize', initialize);
	    google.maps.event.addDomListener(window, 'load', initialize);
	</script>

<% end %>
