<!-- 
	Bring in Towed Vehicles Data from queries_controller 

-->

<% if @plate.state == nil %>
	<div class="section home" id="search">
		<div class="center">
			<div class="lincolns">
				<div class="lincoln"></div>	
			</div>	
			<div class="title">
				<h1><%= @plate_search %></h1>
			</div>
		</div>
		<div class="overlay">
		</div>
	</div>
	<div class="section" id="plate-detail">
		<div class="center">
			<h2>Umm no. Maybe Stolen?</h2>
		</div>	


	</div>

<% else %>
	<div class="section home" id="search">
		<div class="center">
			<div class="lincolns">
				<div class="lincoln"></div>	
			</div>	
			<div class="title">
				<h1><%= @plate.plate %>
				<% if @plate.state != "IL" %>
					 <span class="state"> <%= @plate.state %></span>	
				<% else %>
				<% end %>
				
				</h1>
			</div>
		</div>
		<div class="overlay">
		</div>
	</div>

<!--
	<div class="section" id="plate-detail">
		<div class="center">
			<h2><%= @tow_headline.sample %></h2>
			<h1>
				<% if @plate.state != "IL" %>
					<span class="state"><%= @plate.state %></span>	
				<% else %>
				
				<% end %>
				<span class="plate"><%= @plate.plate %></span>	
			</h1>
		</div>	
			<h3> <%= @color %> <%= @make %></h3>
	</div>
-->
	<div class="plate-details">
		<h4 class="first"><% if @plate.state != "IL" %>
			<span class="state"><%= @plate.state %> Plate /</span>	
		<% else %>
		<% end %>
		 <%= @color %> <a href="/lookup/make/<%= @plate.make %>	"><%= @make %></a></h4>
		<h4>This vehicle was towed on <%= @date %></h4>
		<h4> Get it here: <%= @address %> or call them: <a href=""><%= @plate.tow_facility_phone %></a></h4>
		
	</div>


	<div id="map-canvas"></div>
	
	<div class="address">
		<div class="center">
		</div>
	</div>
	

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>

	<script>

	    function initialize()
	    {
	        var lat=<%= @lat %>;
	        var lon= <%= @long %>;
	        var mapOptions =
	        {
	            zoom: 7,
	            center: new google.maps.LatLng(lat, lon),
	            mapTypeId: google.maps.MapTypeId.ROADMAP,
	            zoom: 16, scrollwheel: false, navigationControl: false, mapTypeControl: false, scaleControl: false, draggable: false
	        };

	        var map = new google.maps.Map(document.getElementById('map-canvas'),
	            mapOptions);

	        var marker = new google.maps.Marker({
	            map: map,
	            draggable: false,
	            position: new google.maps.LatLng(lat, lon)
	        });


	    }

	    google.maps.event.addDomListener(window, 'resize', initialize);
	    google.maps.event.addDomListener(window, 'load', initialize);
	</script>

<% end %>
