<!-- 
	Bring in Towed Vehicles Data from queries_controller 

-->


<div class="section" id="plate-detail">

	<div class="plate">
		<h1><%= @state %> <%= @plate %></h1>
		<div class="plate-details">
			<%= @color.capitalize %> <%= @make %>
			<%= @date_towed %>
		</div>
	</div>	


</div>


<div class="address">

<%= @address %> Call the facility: <a href="tel:<%= @facility_phone_number %>"><%= @facility_phone_number %></a>
</div>



<div id="map-canvas"></div>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
	
	var map;
		function initialize() {
			var mapOptions = {
			zoom: 16,
			scrollwheel: false,
		    navigationControl: false,
		    mapTypeControl: false,
		    scaleControl: false,
		    draggable: false,
			center: new google.maps.LatLng(<%= @lat %>,<%= @long %>)
		};
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); }

		google.maps.event.addDomListener(window, 'load', initialize);

    </script>

