

	<div class="section" id="nav">
		<div class="center">
			<div id="search">
				<div class="search-module">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="<%= @plate.plate %>">
						<div class="search-close"><span class="cancel">X</span></div>
					</form>	
				</div>
			</div>	
			<div class="main-links"><a href="/" class="home">home</a> search by: <a href="#" class="search_button">plate</a> <a href="#" class="search_make">make</a></div>
				<h1>
					<% if @plate.state != "IL" %>
						<span class="plate"> <%= @plate_search %></span>
					<% else %>
						<span class="plate"> <%= @plate.plate %></span>
					<% end %>
					<span class="menu search_button">Search</span>	
				</h1>
				
			
			<div class="lincoln"></div>
		</div>

		
	</div>

	<%= render "/queries/make_list"%>
	<%= render "/queries/plate_details"%>
