
<!-- 
	Bring in Towed Vehicles Data from queries_controller 

-->
<%= @each_plate.count %> <%= @make %>'s towed

<ul>
	<% @each_plate.each do |license_plate| %>

		<li class="illinois-plate">

			<a href="/lookup?plate-number=<%= license_plate[13] %>">
				<%= license_plate[14] %> 
				<%= license_plate[13] %>
			</a>
		
			<%= license_plate[10] %> <%= @make %>
			<% date_towed = license_plate[8] %> 
			<%= date_towed = date_towed[0..-10] %>
			
			<% today = DateTime.now.to_date %>

			<% if today.to_s == date_towed.to_s %>
				Today
			<% else %>	
			<% end %>
				
			<%= license_plate[15] %>

		</li>
  
	<% end %>

</ul>