
<!-- 
	Bring in Towed Vehicles Data from queries_controller 

-->

	<div class="section" id="nav">
		<div class="center">
			<ul>
				<li>
					<a href="/">home</a>
				</li>	
				<li>
					search by: <a href="#" class="search_button">plate</a> <a href="#">make</a>
				</li>
			</ul>	
			<div class="title">
				<div class="wrapper">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="Search Now">
					</form>	
					<h1>
						<%= @make %><em>&nbsp;</em><%= @all_plates.count %> towed
						<span class="menu search_button">&nbsp;</span>	
					</h1>
				</div>
			</div>
		</div>
	</div>




	<div class="section page make">
		<ul class="list">
	
			<% @all_plates.each do |license_plate| %>

				<% date = license_plate["tow_date"] %></h4>
				<% date = date[0..-10] %></h4>
		

				<% if license_plate["state"] == "IL" %>
				<li class="illinois">
				<% elsif %>
				<li>
				<% end %>	
				<div class="container">
					<a href="/lookup/plate/?plate=<%= license_plate["plate"] %>">View this plate</a>
					<div class="center">
						<h2>
							<span class="number">
							<% if license_plate["state"] != "IL" %>
							<%= license_plate["state"] %>
							<% end %>	
							
							<%= license_plate["plate"] %>
							</span>
						</h2>
				
						<div class="details">
							<h3><%= date %></h3>
						</div>	
				
					</div>
					</div>
				</li>
  
			<% end %>

		</ul>
	</div>
		