
<!-- 
	Bring in Towed Vehicles Data from queries_controller 

-->




	<div class="section" id="nav">
		<div class="center">
			<div id="search">
				<div class="search-module">
					<form action="/lookup/plate/">
						<input name="plate" type="text" id="plate_search" placeholder="PLATE NUMBER">
						<div class="search-close cancel">X</div>
					</form>	
				</div>
			</div>	
			<div class="main-links"><a href="/" class="home">home</a> WHO TOWED ME</div>
				<h1>
						 <em>Make:</em> <%= @make %>
					<span class="menu search_button">Search</span>	
				</h1>
				
			
			<div class="lincoln"></div>
		</div>
	</div>

	<%= render "/queries/make_list"%>






	<div class="section page">
		<div class="breaker"><h4>						<%= @all_plates.count %> <%= @make %> Vehicles towed
</h4></div>
		<div class='center'>

				<ul class="plates">

			<% @all_plates.each do |license_plate| %>

				<% date = license_plate["tow_date"] %></h4>
				<% date = date[0..-10] %></h4>
		

				<% if license_plate["state"] == "IL" %>
				<li class="illinois">
				<% elsif %>
				<li>
				<% end %>	
				<a href="/lookup/plate/?plate=<%= license_plate["plate"] %>">View this plate</a>
				
				<div class="center">
						<h2>
							<span class="number">
							<%  if license_plate["plate"].blank? %>
							&nbsp;N/A&nbsp;
							<% end %>
							<% if license_plate["state"] != "IL" %>
							<%= license_plate["state"] %>
							<% end %>	
							
							<%= license_plate["plate"] %>
							</span>
						</h2>
				
						<div class="details">
							
							<h4><%= date %></h4>

						</div>	
					</div>
				</li>
  
			<% end %>

			</ul>

	</div>
	</div>
		
		
		<%= render 'layouts/footer'%>