<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Who Towed Me?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/731360/749444/css/fonts.css" />

</head>


<body>


	<%= yield %>
	
	<%= @plate_count %>

<div class ="search modal">
	
	<div class="container">
		
			<form action="/lookup/plate/">
				<input name="plate" type="text" id="plate_search" placeholder="<%= @plate_search %>">
			</form>	
			<h5>Search by Make instead. <em>Not sure about your plate number?</em></h5>
		
		
	</div>	
	
</div>	



<div class ="search bar">
	<h2>Search Now</h2>
	
</div>	
	<div class="section" id="makes">
			<ul class="makes center">		
				<li>
					<a href="/lookup/make/ACUR">Acura</a>
				</li>
				<li>
					<a href="/lookup/make/AUDI">AUDI</a>
				</li>
				<li>
					<a href="/lookup/make/CADI">Cadillac</a>
				</li>
				<li>
					<a href="/lookup/make/BUIC">Buick</a>
				</li>
			</ul>
		</div>
	</div>
	
	
	
<script>
	$('.bar').click( function() {
	    $('.modal').fadeIn();	
	    $('.modal').addClass("active");	
		
		
		
	    $('#plate_search').focus();	
	});
	$('.modal').click( function() {
	    $('.modal').fadeOut();	
	});
</script>	
	

</body>
</html>
