<!DOCTYPE html>
<html>
<head>
  <title>Who Towed Me?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/731360/749444/css/fonts.css" />
</head>


<body>


	<%= yield %>
	
	<%= @plate_count %>


	<div class="section" id="makes">
			<ul class="makes">		
				<li>
					<a href="/lookup/make/ACUR">Acura</a>
				</li>
				<li>
					<a href="/lookup/make/AUDI">AUDI</a>
				</li>
				<li>
					<a href="/lookup/make/CADI">Cadillac</a>
				</li>
				<li>
					<a href="/lookup/make/BUIC">Buick</a>
				</li>
			</ul>
		</div>
	</div>
	
	
	
	
	

</body>
</html>
